<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="register.component.ts"></script>

    <link rel="stylesheet" href="register.component.css">
    <title>Form validation</title>
</head>


<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Registration Page</mat-toolbar>
        <div [formGroup]="UserRegistration">
            <div fxLayoutAlign="stretch" fxLayout="column" class="login-form">

                <mat-form-field>
                    <input formControlName="email" matInput="" placeholder="Email">
                </mat-form-field>

                <mat-form-field>
                    <input matInput="" formControlName="password" type="password" placeholder="Password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput="" formControlName="fullName" placeholder="Full Name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput="" formControlName="companyName" placeholder="Company Name">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" (click)="loadLogin()">Register</button>


                <label class="loginLine" (click)="loadLogin()">already has account : click here
                    to<label class="l"> login</label></label>

            </div>
        </div>

    </mat-card>
</div>

<!-- </html> -->