<p>You are on profile page.</p>

<div>
    <h2>Profile Information</h2>
    <table class="center">
        <tr>
            <td>1] </td>
            <td>Name : </td>
            <td>MY_NAME</td>

        </tr>

        <tr>
            <td>2] </td>
            <td>Email : </td>
            <td>MY_EMAIL</td>
        </tr>
        <tr>
            <td>3] </td>
            <td>Role : </td>
            <td>MY_ROLE</td>
        </tr>
        <tr>
            <td>4] </td>
            <td>Is email verified? : </td>
            <td>VERIFICATION_STATUS</td>
        </tr>
        <tr>
            <td>5] </td>
            <td>Company Name : </td>
            <td>MY_COMPANY_NAME</td>
        </tr>
    </table>
</div>